.container {
  text-align: center;
  padding: clamp(0px, 15vw, 300px);
}

.explain {
  color: rgb(234, 214, 214);
  font-size: clamp(0px, 4vh, 20px);
}

.title {
  color: #628148;
  font-size: clamp(0px, 8vw, 70px);
  font-weight: bold;
}

.buttonCenter {
  position: absolute;
  bottom: 15vh;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.buttonCenter .startButton {
  color: #972d2d;
  background-color: #628148;
  padding: 1vh 2vw;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .buttonCenter .startButton {
    font-size: 2.5vh;
  }

  .explain {
    color: rgb(234, 214, 214);
    font-size: 2.5vh;
  }
}
