img {
  height: 17vh;
  width: 8vw;
  max-width: 160px;
  max-height: 220px;
}

.letter {
  padding: 10vh 0 20vh;
  text-align: center;
  font-size: clamp(30px, 5vw, 60px);
  font-weight: bold;
}

.ornaments {
  display: flex;
  justify-content: center;
  gap: 3vw;
  flex-wrap: wrap;
}

.button {
  display: flex;
  position: absolute;
  bottom: 15vh;
  left: 50%;
  transform: translate(-50%);
  flex-direction: row;
  text-align: center;
  gap: 10vw;
}

.homeButton {
  background-color: rgb(242, 201, 201);
  color: #972d2d;
  padding: 1vh 2vw;
  font-size: 1.7vh;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translate(-50%);
  flex-direction: row;
  text-align: center;
  gap: 10vw;
  border-color: rgb(242, 201, 201);
}

.treeDesignButton,
.retryButton {
  background-color: #628148;
  color: #972d2d;
  padding: 1vh 2vw;
  font-size: 1.7vh;
  font-weight: bold;
  cursor: pointer;
  border-color: #628148;
}

@media screen and (max-width: 768px) {
  img {
    height: 9vh;
    width: 11vw;
  }

  .button {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }

  .treeDesignButton,
  .retryButton {
    background-color: #972d2d;
    color: #628148;
    padding: 1vh 2vw;
    font-size: 1.5vh;
    font-weight: bold;
  }
}
